<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Landing Page</title>
</head>
<body class="bg-gradient-to-r from-[rgb(3,45,95)]/95 to-[rgb(6,76,135)]/95">
    <div class="flex justify-center items-center min-h-screen">
      <div class="max-w-md w-full p-6 bg-white rounded-md shadow">
        <h1 class="text-2xl font-bold mb-6 text-center">Sign Up</h1>
        <form action="/users/add" method="post">
          <!-- Form fields for sign-in -->
          <div class="mb-4">
            <label for="email" class="block mb-2">Username:</label>
            <input type="text" id="username" name="username" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" required>
          </div>
          <div class="mb-4">
            <label for="password" class="block mb-2">Password:</label>
            <input type="password" id="password" name="password" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" required>
          </div>
          <div class="mb-6">
            <input type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600" value="Register">
          </input>
          </div>
        </form>
        <div class="text-center">
          <p>Already have an account? <a href="/login" class="text-blue-500">Log in</a></p>
        </div>
      </div>
    </div>
  </body>
</html>